.App {
    font-family: 'Allura', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
  }

  .title{
    text-align: center;
    font-size: 64px;
    font-family: 'Allura', cursive;
    color: var(--bs-grassGreen);
    background-image: url('../Images/png/fondotitulo2.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size:130px;
    height:20vh;
    line-height:6rem;
  }
  .carousel{
    margin-bottom: 12rem;
    background-color: #75946a;
    height: 80vh;
    width: 85%;
    margin-left: 5rem;
  }