.Galery{
    background-image: url('../Images/png/fondotitulo2.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size:130px;
    height:20vh;
    line-height:6rem;
}