.social-bar {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bs-lightPink);
    padding: 10px;
    border-left: 1px solid #ccc;
    
    z-index: 1000;
    width: 4%;
    border-radius: 5%;

  }
  
  .social-bar a {
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
    margin-top: 8px;
  }
  
  .social-bar img:hover {
    color: #007bff;
  }

  .social-bar img{
    width: 105%;
    
  }